:root {
    --item_width: 20vw;
    --move: 0vw;
    --negative_move: 0vw;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto Mono', "monospace";
}

#screen {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: row;
    width: 500vw;
    height: 100%;
    overflow: hidden;
    translate: var(--negative_move) 0;
    transition: translate 100ms;
}

.view {
    width: 100%;
    height: 100%;
}

#nav {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 4rem;
    justify-content: space-between;
    background-color: var(--main-color);
}

@media screen and (min-width: 33rem) {
    #nav {
        justify-content: center;
        column-gap: 2rem;
    }
}

.nav_button {
    width: 5rem;
    height: 100%;
    display: flex;
}

.icon {
    display: block;
    margin: auto;
    color: #fff;
    font-size: 2.5rem !important;
    transition: color 100ms;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-icon {
    color: #fff8;
}

#nav-icon1 {
    color: #fff;
}
