#view1 {
    background-color: #ff0008
}

#view2 {
    background-color: #2fff00
}

#view3 {
    background-color: #0022ff
}

#view4 {
    background-color: #ff8000
}

#view5 {
    background-color: #8400ff
}